@model WebAppCore.Models.Batch

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Batch</h4>
<hr />
<div class="panel panel-default">
    <form asp-action="EditNew">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Batch ID</th>
                    <th>Batch Version</th>
                    <th>Author</th>
                    <th>Simulator</th>
                    <th>Batch Name</th>
                </tr>
            </thead>

            <tbody>
                <tr class="info1">
                    <td>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="BatchId" />
                        <input type="hidden" asp-for="BatchVersion" />
                        <div class="form-group">
                            @Html.DisplayFor(modelItem => Model.BatchId)
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DisplayFor(modelItem => Model.BatchVersion)
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select asp-for="AuthorUserId" class="form-control" asp-items="ViewBag.AuthorUserId"></select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select asp-for="SimId" class="form-control" asp-items="ViewBag.SimId"></select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-default" />
        </div>
    </form>
</div>
<div class="panel panel-default">
    <h4>Tests</h4>
    <form asp-action="AddTests">
        <input type="hidden" asp-for="BatchId" />
        <input type="hidden" asp-for="BatchVersion" />
        <input type="submit" value="Add Tests" class="btn btn-default" />
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

