<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Honeywell BTU</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Search Test Batches <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-defualt">
    <div class="panel-body">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
              <input type="checkbox"> criteria
            </label>
            <label class="btn btn-primary">
              <input type="checkbox"> criteria
            </label>
            <label class="btn btn-primary">
              <input type="checkbox"> criteria
            </label>
            <label class="btn btn-primary">
                <input type="checkbox"> criteria
              </label>
              <label class="btn btn-primary">
                <input type="checkbox"> criteria
              </label>
              <label class="btn btn-primary">
                <input type="checkbox"> criteria
              </label>
          </div>
    </div>
</div>

<div class="panel-group" id="accordion1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">Test Batch 1
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="panel-group" id="accordion21">
                        <div class="panel">
                            <a data-toggle="collapse" data-parent="#accordion21" href="#collapseTwoOne">Test ID &raquo;</a>
                            <div id="collapseTwoOne" class="panel-collapse collapse">
                                <div class="panel-body" style="padding-top:5px; padding-bottom:5px; padding-left:15px;"><h4>Test Info <span class=>Example Author</span></h4></div>
                                <div class="panel-body" style="padding-top:5px; padding-bottom:5px; padding-left:15px;"><h4>Test Info <span class=>Example Test Count</span></h4></div>
                            </div>
                        </div>
                        <div class="panel ">
                            <a data-toggle="collapse" data-parent="#accordion21" href="#collapseTwoTwo">Test ID 2 &raquo;</a>
                            <div id="collapseTwoTwo" class="panel-collapse collapse">
                                <div class="panel-body" style="padding-top:5px; padding-bottom:5px; padding-left:15px;">Test Info <span class=>Example Author</span></div>
                                <div class="panel-body" style="padding-top:5px; padding-bottom:5px; padding-left:15px;">Test Info <span class=>Example Test count</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">Test Batch 1
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="panel-group" id="accordion21">
                        <div class="panel">
                            <a data-toggle="collapse" data-parent="#accordion21" href="#collapseTwoOne">Test ID &raquo;</a>
                            <div id="collapseTwoOne" class="panel-collapse collapse">
                                <div class="panel-body" style="padding-top:5px; padding-bottom:5px; padding-left:15px;"><h4>Test Info <span class=>Example Author</span></h4></div>
                                <div class="panel-body" style="padding-top:5px; padding-bottom:5px; padding-left:15px;"><h4>Test Info <span class=>Example Test Count</span></h4></div>
                            </div>
                        </div>
                        <div class="panel ">
                            <a data-toggle="collapse" data-parent="#accordion21" href="#collapseTwoTwo">Test ID 2 &raquo;</a>
                            <div id="collapseTwoTwo" class="panel-collapse collapse">
                                <div class="panel-body" style="padding-top:5px; padding-bottom:5px; padding-left:15px;">Test Info <span class=>Example Author</span></div>
                                <div class="panel-body" style="padding-top:5px; padding-bottom:5px; padding-left:15px;">Test Info <span class=>Example Test count</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>