@model WebAppCore.Models.TestProc

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>TestProc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BatchId" class="control-label"></label>
                <select asp-for="BatchId" class="form-control" asp-items="ViewBag.BatchId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BatchVersion" class="control-label"></label>
                <select asp-for="BatchVersion" class="form-control" asp-items="ViewBag.BatchVersion"></select>
            </div>
            <input type="hidden" asp-for="TestId" />
            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <select asp-for="TestId" class="form-control" asp-items="ViewBag.TestId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TestVersion" class="control-label"></label>
                <select asp-for="TestVersion" class="form-control" asp-items="ViewBag.TestVersion"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProcId" class="control-label"></label>
                <select asp-for="ProcId" class="form-control" asp-items="ViewBag.ProcId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReqId" class="control-label"></label>
                <select asp-for="ReqId" class="form-control" asp-items="ViewBag.ReqId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Parameters" class="control-label"></label>
                <input asp-for="Parameters" class="form-control" />
                <span asp-validation-for="Parameters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passed" class="control-label"></label>
                <input asp-for="Passed" class="form-control" />
                <span asp-validation-for="Passed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

