<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Honeywell BTU</a>
    </div>
</nav>

<ul class="nav nav-pills">
    ...
    <li class="disabled"><a href="#">Create Tests</a></li>
    ...
  </ul>
  <ul class="nav nav-pills">
    ...
    <li class="disabled"><a href="#">Create Test Batch</a></li>
    ...
  </ul>
  <ul class="nav nav-pills">
    ...
    <li class="disabled"><a href="#">Search Test Batches</a></li>
    ...
  </ul>
  <ul class="nav nav-pills">
    ...
    <li class="disabled"><a href="#">View Test Results</a></li>
    ...
  </ul>
  <ul class="nav nav-pills">
    ...
    <li class="disabled"><a href="#">View Queue</a></li>
    ...
  </ul>
  <ul class="nav nav-pills">
    ...
    <li class="disabled"><a href="#">Edit Test</a></li>
    ...
  </ul>
  <ul class="nav nav-pills">
    ...
    <li class="disabled"><a href="#">Create User Account</a></li>
    ...
  </ul>