@model WebAppCore.Models.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="container" id="wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" accept-charset="utf-8" class="form" role="form">
                <h1>Registration For New User</h1>
                <h5>This grants a new user access to the Honeywell Bench Test Utilities.</h5>
                <br />
                <div class="row">
                    @*<label asp-for="UserId" class="control-label"></label>
                        <input asp-for="UserId" class="form-control" />*@
                    <div class="col-xs-6 col-md-6">
                        <input asp-for="FirstName" type="text" name="firstname" value="" class="form-control input-lg" placeholder="First Name" />
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input asp-for="LastName" type="text" name="lastname" value="" class="form-control input-lg" placeholder="Last Name" />
                    </div>
                </div>
                <input asp-for="Email" type="text" name="email" value="" class="form-control input-lg" placeholder="Email" />
                <input asp-for="Password" type="password" name="password" value="" class="form-control input-lg" placeholder="Password" />
                <input type="password" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password" />
                <div class="frb-group">
                    <div class="frb frb-default">
                        <input type="checkbox" id="checkbox-0" name="Privilege" value="true">
                        <label for="checkbox-0">
                            <span class="frb-title">Administrative Privileges</span>
                            <span class="frb-description">Check this box to add administrative privileges to this account.</span>
                        </label>
                    </div>
                </div>
                <br />
                <button asp-action="Create" class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                    Register New User
                </button>
            </form>
        </div>
    </div>
</div>
